<a href="https://colab.research.google.com/github/Colsai/Covid-Visualizations-And-Trends/blob/main/covid_dataset_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US Covid Dataset (NYT Expanded)
<blockquote> Scott Hirabayashi | (Sourced from NYT's Github) | 2020  </blockquote>

- Adding Cases Increase
- Deaths Increase 
- Day of Week
- Percent Change
- etc.

to dataset

## Import Packages
We will use datetime, pandas, numpy, and statistics

In [32]:
#Datetime To Convert Dates
from datetime import datetime

#Import Packages for Data
import pandas as pd
import numpy as np
import statistics

## Import the data from NYT github
NYT's github has national/state/local data.  
We'll use the US data for this manipulation.

In [33]:
#Cases by day from beginning (US)

#USA Data will be the dataframe for national data
site = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us.csv'
us_df = pd.read_csv(site)

Let's look at the head of the data first...

In [34]:
#Let's look at the head of us df first
us_df.head(5)

         date  cases  deaths
0  2020-01-21      1       0
1  2020-01-22      1       0
2  2020-01-23      1       0
3  2020-01-24      2       0
4  2020-01-25      3       0

Only Cases and Deaths here.  
Let's look to add some more features.

## Let's look at US DF First
Looking at the data, we'll have to change the dates to Datetime

In [35]:
#One issue here is that the date data is currently string. We need to make it datetime.
type(us_df['date'][0])

str

In [36]:
#Change the items into datetime (rather than string)
us_df['date'] = pd.to_datetime(us_df['date'])

In [37]:
#Did it work?
type(us_df['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

So, it worked. Now we can graph this normally instead of having more issues.

## Add days after...
One of the issues with datetime is that some of the data can't be plotted with datetime (SNS regplot, for example).

So that we can look at it with seaborn, etc, we'll add a new column.

In [38]:
#This function just appends to each data frame the number of days, so we don't have issues later with time data
days_after = []
for i in range(1,len(us_df['date'].to_list()) + 1):
    days_after.append(i)

us_df.insert(1,"days_since_start", days_after)

Let's also create a function for total change.

In [39]:
#This is a simple function that returns items based on their change over time. 
def total_change(input_list, rounded_val=2):
    total_list = []
    day_change = 0
    
    for day in input_list:
        try:
              day_change = day - day_before
        except:
              day_before = 0

        total_list.append(day_change)
        day_before = day
    return total_list

And check to see what items and types of data we have here so far...

In [40]:
#What are the data types in here?
us_df.dtypes

date                datetime64[ns]
days_since_start             int64
cases                        int64
deaths                       int64
dtype: object

## Add day of the week
One helpful thing might be to see what day of the week it is.  
This way, we can get a feel here for the days that might show more cases in a given week.

In [41]:
#Function to return and add day of week
day_num = ["Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

def get_day(list_dates):
    day_of_week = []
    
    for days in list_dates:
        weekday_num = days.weekday()
        day_name = day_num[weekday_num]
        day_of_week.append(day_name) 
    return day_of_week

Let's check the head of the data again

In [42]:
#Head of the data
us_df.head()

        date  days_since_start  cases  deaths
0 2020-01-21                 1      1       0
1 2020-01-22                 2      1       0
2 2020-01-23                 3      1       0
3 2020-01-24                 4      2       0
4 2020-01-25                 5      3       0

In [43]:
#What are the data types?
us_df['deaths'].dtypes

dtype('int64')

In [44]:
#This is a simple function that returns items based on their change over time. 
def percent_change(input_list, rounded_val=2):
    percent_list = []

    for this_year in input_list:
        try:
              pct_increase = ((this_year - last_year) / last_year) * 100
        except:
              pct_increase = 0

        percent_list.append(round(pct_increase,2))
        last_year = this_year

    percent_list = [round(i, rounded_val) for i in percent_list] #This function combines rounding inside of it, since percents are easier to use

    return percent_list

In [45]:
#Run the Percent Change Functions
cases_new = total_change(us_df['cases'].to_list())
deaths_new = total_change(us_df['deaths'].to_list())

In [46]:
us_df.insert(3, "cases_increase", cases_new)
us_df.insert(5, "deaths_increase", deaths_new)

In [47]:
#Run the Percent Change Functions
cases_pct = percent_change(us_df['cases'].to_list())
deaths_pct = percent_change(us_df['deaths'].to_list())

In [48]:
#Insert the Two Into the USA df
us_df.insert(4, "cases_pct_inc", cases_pct)
us_df.insert(7, "deaths_pct_inc", deaths_pct)

In [49]:
us_df['deaths_increase'].describe().astype(int)

count     337
mean      958
std       772
min         0
25%       395
50%       891
75%      1327
max      3611
Name: deaths_increase, dtype: int64

Day of Week

In [50]:
dates = us_df['date'].to_list()

In [51]:
us_df.insert(1, "day_of_week",get_day(dates))

In [52]:
us_df.head()

        date day_of_week  ...  deaths_increase  deaths_pct_inc
0 2020-01-21     Tuesday  ...                0             0.0
1 2020-01-22   Wednesday  ...                0             0.0
2 2020-01-23    Thursday  ...                0             0.0
3 2020-01-24      Friday  ...                0             0.0
4 2020-01-25    Saturday  ...                0             0.0

[5 rows x 9 columns]

Aggregate them by week

In [53]:
week_agg = us_df.groupby("day_of_week",  sort=False).agg("mean")

In [54]:
week_agg = week_agg.reset_index()

## Cases and Deaths Inclusion
Adding Rolling Averages so that we can graph them later.

In [55]:
#1 week, 2 week, 6 week
for i in range(14,1,-7):
    us_df.insert(4, f'{i}_day_cases', us_df['cases_increase'].rolling(i).mean())

for i in range(14,1,-7):
    us_df.insert(9, f'{i}_day_deaths', us_df['deaths_increase'].rolling(i).mean())

us_df.insert(6, '42_day_cases', us_df['cases_increase'].rolling(42).mean())
us_df.insert(12, f'42_day_deaths', us_df['deaths_increase'].rolling(42).mean())

In [56]:
us_df.tail(15)

          date day_of_week  ...  deaths_increase  deaths_pct_inc
322 2020-12-08     Tuesday  ...             2821            0.99
323 2020-12-09   Wednesday  ...             3157            1.10
324 2020-12-10    Thursday  ...             2937            1.01
325 2020-12-11      Friday  ...             2951            1.01
326 2020-12-12    Saturday  ...             2259            0.76
327 2020-12-13      Sunday  ...             1357            0.46
328 2020-12-14      Monday  ...             1678            0.56
329 2020-12-15     Tuesday  ...             3025            1.00
330 2020-12-16   Wednesday  ...             3611            1.19
331 2020-12-17    Thursday  ...             3293            1.07
332 2020-12-18      Friday  ...             2815            0.91
333 2020-12-19    Saturday  ...             2628            0.84
334 2020-12-20      Sunday  ...             1422            0.45
335 2020-12-21      Monday  ...             1963            0.62
336 2020-12-22     Tuesday  ...             3239            1.01

[15 rows x 15 columns]

## Add the week number
This lets us know which week we are on in the dataset

In [57]:
num_week = []
week = 0
for i in range(0,len(us_df)):
    if i%7 == 0:
        week+=1
    num_week.append(week)

In [58]:
us_df.insert(2, "num_week", num_week)

In [59]:
us_df.head(8)

        date day_of_week  ...  deaths_increase  deaths_pct_inc
0 2020-01-21     Tuesday  ...                0             0.0
1 2020-01-22   Wednesday  ...                0             0.0
2 2020-01-23    Thursday  ...                0             0.0
3 2020-01-24      Friday  ...                0             0.0
4 2020-01-25    Saturday  ...                0             0.0
5 2020-01-26      Sunday  ...                0             0.0
6 2020-01-27      Monday  ...                0             0.0
7 2020-01-28     Tuesday  ...                0             0.0

[8 rows x 16 columns]

In [63]:
us_df.groupby("num_week", as_index=False).agg("mean")

    num_week  days_since_start  ...  deaths_increase  deaths_pct_inc
0          1               4.0  ...         0.000000        0.000000
1          2              11.0  ...         0.000000        0.000000
2          3              18.0  ...         0.000000        0.000000
3          4              25.0  ...         0.000000        0.000000
4          5              32.0  ...         0.000000        0.000000
5          6              39.0  ...         0.857143       42.857143
6          7              46.0  ...         2.857143       24.615714
7          8              53.0  ...         9.285714       19.747143
8          9              60.0  ...        69.714286       30.307143
9         10              67.0  ...       398.428571       28.722857
10        11              74.0  ...      1287.714286       20.531429
11        12              81.0  ...      2033.000000       11.608571
12        13              88.0  ...      2200.428571        6.761429
13        14              95.0  ...      2000.857143        4.204286
14        15             102.0  ...      1840.428571        3.005714
15        16             109.0  ...      1691.857143        2.295714
16        17             116.0  ...      1380.857143        1.628571
17        18             123.0  ...      1110.857143        1.185714
18        19             130.0  ...       989.000000        0.977143
19        20             137.0  ...       861.571429        0.800000
20        21             144.0  ...       724.571429        0.640000
21        22             151.0  ...       588.285714        0.498571
22        23             158.0  ...       832.571429        0.680000
23        24             165.0  ...       595.714286        0.464286
24        25             172.0  ...       724.285714        0.545714
25        26             179.0  ...       786.000000        0.570000
26        27             186.0  ...      1077.857143        0.748571
27        28             193.0  ...      1070.857143        0.705714
28        29             200.0  ...      1011.142857        0.637143
29        30             207.0  ...      1060.857143        0.637143
30        31             214.0  ...       964.000000        0.555714
31        32             221.0  ...       896.428571        0.498571
32        33             228.0  ...       801.571429        0.430000
33        34             235.0  ...       760.714286        0.397143
34        35             242.0  ...       769.857143        0.392857
35        36             249.0  ...       736.428571        0.364286
36        37             256.0  ...       726.142857        0.350000
37        38             263.0  ...       703.142857        0.331429
38        39             270.0  ...       728.714286        0.337143
39        40             277.0  ...       805.714286        0.362857
40        41             284.0  ...       825.571429        0.361429
41        42             291.0  ...      1045.142857        0.445714
42        43             298.0  ...      1155.142857        0.475714
43        44             305.0  ...      1536.571429        0.608571
44        45             312.0  ...      1484.000000        0.567143
45        46             319.0  ...      2260.428571        0.821429
46        47             326.0  ...      2451.428571        0.841429
47        48             333.0  ...      2679.571429        0.868571
48        49             337.0  ...      3239.000000        1.010000

[49 rows x 14 columns]

Save the dataset

In [61]:
#Save the new us csv as a file
us_df.to_csv("expanded_covid_data.csv")